<div class='row'>
    <div class='col-md-6'>
      <strong>Address:</strong>
      <%= @order.address %> 
      <strong>City:</strong>
      <%= @order.city %>  
      <strong>State:</strong>
      <%= @order.state %> 
   </div>
</di>
<%= link_to 'Edit', edit_listing_order_path(@listing, @order.id) %> |
<%= link_to 'Back', listing_orders_path %>
